@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';
@theme {
  --font-quantico: 'Quantico', sans-serif;
}

/* @layer components { */
.ts-form-title {
  @apply text-gray-500 font-bold;
}
/* } */

/* @keyframes float-random {
  0%,
  100% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(var(--x-off), var(--y-off));
  }
  66% {
    transform: translate(var(--x-neg), var(--y-pos));
  }
}

.floating-child {
  display: inline-block;
  animation: float-random var(--duration, 3s) ease-in-out infinite;
  animation-delay: var(--delay, 0s);
} */
