# This is a basic workflow to help you get started with Actions
name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      HOST_VOLUME_PATH: "data"
      NODE_ENV: "development"
      PROXY_SERVICE_NAME: "nginx-proxy"
      API_GATEWAY_NAME: "api-gateway"
      API_GATEWAY_PORT: "3000"
      AUTH_SERVICE_NAME: "auth-service"
      AUTH_SERVICE_PORT: "3001"
      UM_SERVICE_PORT: "3002"
      UM_SERVICE_NAME: "user-service"
      UM_REDIS_CHANNEL: "user_management"
      UM_SERVICE_DIR: "users"
      GAME_SERVICE_PORT: "3003"
      GAME_SERVICE_NAME: "game-service"
      BK_SERVICE_PORT: "3005"
      BK_SERVICE_NAME: "blockchain-service"
      REDIS_SERVICE_PORT: 6379
      REDIS_SERVICE_NAME: "redis-broker"
      REDIS_URL: "redis://redis-broker:6379"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: echo "build to do"
